

.tappen-card{
    position:absolute;
top:0rem;
height:40vh;
left:0;
right:0;
margin:8rem auto;
    width:65vw;
    max-width:400px;
    user-select: None;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border:4px solid #f1f3f6;
    border-radius: 15px;
    padding:.5rem;


}