@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  margin:0;
  padding:0;

font-family: "Nunito";
color:#fff; 
}
.App {
  text-align: center;
  background-color: #1d1f2f;
 max-height:100vh;
 height:100vh;
 overflow: hidden;
 
}
h2{
  padding:2rem 0;
  font-size: 1em;
}

.logo{
  margin-top:1.5rem;
}

a{
  text-decoration: none;
}